// Navigation Styles here

header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-evenly;
    
    a {
        text-decoration: none;
        color: black;
        font-size: 1.6rem;
    }
    a.hover {
        color: darkgray;
    }
}
