// Navigation Styles here

.container-nav {
    padding-bottom: 50px;
    border-bottom: 2px dashed @navigation-border;

    header {
        // display: flex;
        // justify-content: space-between;
    }

    nav {
        display: flex;
        // justify-content: space-evenly;
        
        a {
            text-decoration: none;
            color: @font-color;
            font-size: 1.6rem;
            flex-grow: 1;
            text-align: center;
        }
        .nav-logo {
            font-size: 46px;
            font-family: @font-indieFlower;
        }
        a.hover {
            color: darkgray;
        }
    }
}
